# ***LISTS***
List is a data structure in python which is mutable, changeable, ordered sequence of elements.

Here we are going to discuss the methods of list and some of the operations we can perform on lists.

First-of-all, we will create an empty list.

In [39]:
my_list = list()
my_list

[]

All methods of list can be checked via dir(list)

In [3]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

Let's start discussing the ***METHODS of List***:

1) **list.append(element):** It will add element to the end of list.

In [40]:
my_list.append("Hamid")
my_list

['Hamid']

2) **list.extend(iterable):** It will add an iteratable to the end of list.

In [41]:
my_list.extend(['Hammad','Hamza'])
my_list.extend('HA')
my_list

['Hamid', 'Hammad', 'Hamza', 'H', 'A']

3) **my_list.insert(position, value):** It will add value to the specific position(specified in paramter) to the list.

In [42]:
my_list.insert(2,'Hamid')
my_list

['Hamid', 'Hammad', 'Hamid', 'Hamza', 'H', 'A']

4) **list.sort():** It will sort the list in ascending order.

In [43]:
my_list.sort()
my_list

['A', 'H', 'Hamid', 'Hamid', 'Hammad', 'Hamza']

5) **list.reverse():** It will reverse the order of list.

In [44]:
my_list.reverse()
my_list

['Hamza', 'Hammad', 'Hamid', 'Hamid', 'H', 'A']

6) **list.count(element):** It will count the occurences of the element in the list.

In [45]:
my_list.count('Hamid')

2

7) **list.index(element):** It will return the index of the element in the list.

In [46]:
my_list.index('H')

4

8) **list.copy():** If we copy the list through simple assinment operator then there is one loss which is, if we change the content of the new_list then the contents of the old_list from which new_list is made via assignment operator are also changed. Thus to avoid this issue, list.copy() method is used which will keep the state of the old_list, no matter what are the contents of the new_list are.

In [47]:
list_copy = my_list.copy()
print("Copied list:",list_copy)
print("My list:",my_list,"\n")
my_list.append("Haroon")
print("After changing in my_list...\n")
print("Copied List:",list_copy)
print("My_list:",my_list)

Copied list: ['Hamza', 'Hammad', 'Hamid', 'Hamid', 'H', 'A']
My list: ['Hamza', 'Hammad', 'Hamid', 'Hamid', 'H', 'A']

After changing in my_list...

Copied List: ['Hamza', 'Hammad', 'Hamid', 'Hamid', 'H', 'A']
My_list: ['Hamza', 'Hammad', 'Hamid', 'Hamid', 'H', 'A', 'Haroon']

9) **list.pop():** It will remove the last element from the list and return its value.

In [48]:
print(my_list.pop())
my_list

Haroon

['Hamza', 'Hammad', 'Hamid', 'Hamid', 'H', 'A']

10) **list.remove(element):** It will remove the single occurence of the specified element from the list from left side. It will not return the value as pop() did.

In [49]:
my_list.remove("Hamid")
my_list

['Hamza', 'Hammad', 'Hamid', 'H', 'A']

11) **clear():** It will clear the whole list.

In [51]:
my_list.clear()
my_list

[]

***Some Basic OPERATIONS on List***

In [53]:
my_list = [1, 4, 6, 3, 8, 6, 5]

1) **len(list):** It will return the total number of elements in the list.

In [54]:
len(my_list)

7

2) **max(my_list):** It will return the maximum value in the list.

In [55]:
max(my_list)

8

3) **min(my_list):** It will return the minimum value in the list.

In [56]:
min(my_list)

1

4) **list(iterable):** It will convert some iterable(string, tuple, dictionary etc) to a list.

In [57]:
list("HELLO")

['H', 'E', 'L', 'L', 'O']