# ***SETS***

Set is mutable and unordered collection of data with no repetition.

Here we will discuss the methods of sets.

Let's first see all the methods of set via dir() method.

In [1]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

Now, let's create an empty set.

In [2]:
myset = set()

***METHODS OF SET***

1) **set.add(element):** It adds element to the set if it is not present in the set.

In [28]:
myset.add(4)
myset.add(6)
myset.add(8)
myset.add(5)
myset.add(9)
myset.add(8) #this element will not be added as it is already added in the set.
myset

{4, 5, 6, 8, 9}

2) **set.update(iterable):** It adds iterable(string, tuple, dict etc) to the set.

In [29]:
d = {'a':3, 'b':7}
s = 'abc'
myset.update(d)
print(myset)
myset.update(s)
print(myset)

{4, 5, 6, 8, 9, 'a', 'b'}
{4, 5, 6, 8, 9, 'c', 'a', 'b'}

3) **set.remove(element):** It removes the element from the set. If element not found then it results into traceback(keyerror).

In [30]:
myset.remove('c')
myset

{4, 5, 6, 8, 9, 'a', 'b'}

In [31]:
myset.remove('c')

KeyError: ignored

4) **set.discard(element):** It removes the element from the list. If element not found then None is returned.

In [32]:
myset.discard('b')
myset.discard('a')
myset

{4, 5, 6, 8, 9}

In [33]:
print(myset.discard('b'))

None

5) **set.pop():** It returns and removes an arbitrary element from the list.

In [34]:
myset.pop()

8

In [35]:
myset

{4, 5, 6, 9}

6) **set.copy():** It returns a shallow copy of the set. It means, the content of shallow copy of the set will not be changed if the set values are changed.

In [39]:
setcopy = myset.copy()
print("Copy Set: ",setcopy)
print("My Set: ",myset)
myset.add(3)
print("\nAfter Altering the content of my_dict...\n")
print("Copy Set: ",setcopy)
print("My Set: ",myset)

Copy Set:  {9, 4, 5, 6}
My Set:  {4, 5, 6, 9}

After Altering the content of my_dict...

Copy Set:  {9, 4, 5, 6}
My Set:  {3, 4, 5, 6, 9}

7) **set.clear():** It returns an empty set after delecting all elements from the set.

In [40]:
myset.clear()
myset

set()

8) **set1.difference(set2):** It returns the difference of set 1 and set 2 i.e., set1 - set2.

In [41]:
set1 = {2, 6, 7, 4, 9, 3}
set2 = {1, 6, 8, 0, 3}
set1.difference(set2)

{2, 4, 7, 9}

9) **set1.difference_update(set2):** It saves the difference of set1 and set2 in set1.

In [46]:
set1 = {2, 6, 7, 4, 9, 3}
set2 = {1, 6, 8, 0, 3}
set1.difference_update(set2)
set1

{2, 4, 7, 9}

10) **set1.intersection(set2):** It returns the intersection of set1 and set2.

In [47]:
set1 = {2, 6, 7, 4, 9, 3}
set2 = {1, 6, 8, 0, 3}
set1.intersection(set2)

{3, 6}

11) **set1.intersection_update(set2):** It returns None. It updates set1 with the value of intersection of set1 and set2.

In [49]:
set1 = {2, 6, 7, 4, 9, 3}
set2 = {1, 6, 8, 0, 3}
print(set1.intersection_update(set2))
set1

None

{3, 6}

12) **set1.union(set2):** It returns the union of set1 and set2.

In [50]:
set1 = {2, 6, 7, 4, 9, 3}
set2 = {1, 6, 8, 0, 3}
set1.union(set2)

{0, 1, 2, 3, 4, 6, 7, 8, 9}

13) **set1.symmetric_difference(set2):** It returns the elements of set1 and set2 except those that comes in their intersection, i.e., union(set1,set2) - intersection(set1,set2).

In [54]:
set1 = {2, 6, 7, 4, 9, 3}
set2 = {1, 6, 8, 0, 3}
set1.symmetric_difference(set2)

{0, 1, 2, 4, 7, 8, 9}

14) **set1.symmetric_difference_update(set2):** It returns None. It overwrites the set1 with the symmetric difference of set1 and set2.

In [55]:
set1 = {2, 6, 7, 4, 9, 3}
set2 = {1, 6, 8, 0, 3}
set1.symmetric_difference_update(set2)
set1

{0, 1, 2, 4, 7, 8, 9}

15) **set1.isdisjoint(set2):** It returns True if set1 and set2 are disjoint sets i.e., intersection of set1 and set2 is an empty set. Else, it returns False.

In [56]:
set1 = {2, 6, 7, 4, 9, 3}
set2 = {1, 6, 8, 0, 3}
set1.isdisjoint(set2)

False

In [57]:
set1 = {2, 6, 7, 4, 9}
set2 = {1, 8, 0}
set1.isdisjoint(set2)

True

16) **set1.issubset(set2):** It returns True if set1 is a subset of set2 i.e., all elements of set1 are present in set2, else it returns False.

In [58]:
set1 = {2, 6, 7, 4, 9, 3}
set2 = {1, 6, 0, 3, 9, 5, 7, 8}
set1.issubset(set2)

False

In [59]:
set1 = {6, 7, 9, 3}
set2 = {1, 6, 0, 3, 9, 5, 7, 8}
set1.issubset(set2)

True