# **STRINGS**
## Strings is a sequence of characters which immutable i.e., once defined cannot be changed.

Here, we are going to discuss the functions applicable on strings.

You can check all the functions defined on strings by:

In [ ]:
dir(str)

We will discuss almost all functions one by one.

1) **capitalize():**  It takes no parameters. It is called by a string using a dot operator. It capitalizes the first character of a string.

In [ ]:
'hello world'.capitalize()

'Hello world'

2) **title():** It takes no parameters. It is called by a string using a dot operator. It capitalizes the first character of each word in the string.

In [ ]:
'hello world! I am hamid.'.title()

'Hello World! I Am Hamid.'

3) **casefold()**: It takes no parameters. It is called by a string using a dot operator. It lower case all the letters of the string. It is similar to lower() function.

In [ ]:
'Hello World! I am coming'.casefold()

'hello world! i am coming'

4) **swapcase():** It takes no paramters. It returns the string with wach alphabet case inverted i.e., lower to upper and upper to lower.

In [24]:
'hAMID aYUB'.swapcase()

'Hamid Ayub'

5) **ljust(width,fillchar):**It takes 2 parameters, width(length of string with padded characters) and fillchar(padding character). It is called by a string using a dot operator. It left just the string in the provided width and pad the padding character in space remainig on right.

In [28]:
'Hello'.ljust(10,'*')

'Hello*****'

6) **center(width, fillcahar)**: It takes 2 parameters, width(length of string with padded characters) and fillchar(padding character). It is called by a string using a dot operator. It centralizes the string in the provided width and pad the padding character in space left.

In [29]:
'Hello'.center(10,'*')

'**Hello***'

7) **rjust(width,fillchar):** It takes 2 parameters, width(length of string with padded characters) and fillchar(padding character). It is called by a string using a dot operator. It right just the string in the provided width and pad the padding character in space remainig on left.

In [ ]:
'Hello'.rjust(10,'*')

'*****Hello'

8) **zfill(length)** It takes 1 paramter, length(length of output string). It returns the string with 0 padded on the left of original string.

In [25]:
'500'.zfill(10)

'0000000500'

9) **count(sub_str, start, end):** It takes 3 parameters, sub_str(Sub String whose occurence is to be counted), start(starts from this point of string) and end(till the point). It is called by a string using a dot operator. It counts the occurences of the sub_string in the string. If no occurence, it returns 0.

In [ ]:
'Hi! I am Hamid'.count('am',3,14)

2

10) **find(sub_str, start, end):** It takes 3 parameters, sub_str(Sub String whose position is to be found), start(starts from this point of string) and end(till the point). It is called by a string using a dot operator. It finds the position of the first occurence of the sub_string in the string.  If no occurence, it returns -1.

In [ ]:
'Hi! I am Hamid'.find('am',2,14)

6

11) **rfind(sub_str, start, end):** It takes 3 parameters, sub_str(Sub String whose position is to be found), start(starts from this point of string) and end(till the point). It is called by a string using a dot operator. It finds the position of the last occurence of the sub_string in the string. If no occurence, it returns -1.

In [ ]:
'Hi! I am Hamid'.rfind('am',2,14)

10

12) **index(sub_str, start, end):** It is totally similar to find() method. The only difference is that find() returns -1 if no occurence found, while index() gives an Exception.

In [ ]:
'Hello World'.index('o',5,10)

7

13) **rindex(sub_str, start, end):** It is totally similar to rfind() method. The only difference is that rfind() returns -1 if no occurence found, while rindex gives and Exception.

In [ ]:
'Hello World'.rindex('o')

7

14) **encode(encoding, errors):** The string encode() method returns encoded version of the given string. It takes two parameters, encoding(the encoding type a string has to be encoded to) and errors(response when encoding fails).

In [ ]:
'hello world'.encode()

b'hello world'

15) **startswith(substr, start, end):** It takes 3 parameter, sub_str(Sub String), start(starting index) and end(index at which search ends). It returns True/False based on whether the string starts with substr or not.

In [ ]:
'Hi! I am Hamid'.startswith('I',4,14)

True

16) **endswith(substr, start, end):** It takes 3 parameter, sub_str(Sub String), start(starting index) and end(index at which search ends). It returns True/False based on whether the string ends with substr or not.

In [ ]:
'Hello World'.endswith('o',0,5)

True

17) **expandtabs(tabsize):** It takes only 1 argument, tabsize(the number of spaces in replacement to tab character). It exapnds tab character depending upon provided tabsize.

In [ ]:
'Hello\tWorld'.expandtabs(4)

'Hello   World'

18) **format(values....):** It takes a number of paramaters depending upon how much you use in the string. It replaces '{}' in string with the values specified in its parenthesis.

In [ ]:
'Sum of {} and {} is {}'.format(23,25,23+25)

'Sum of 23 and 25 is 48'

19) **format_map(mapping(dictionary)):** It takes only one argument, mapping_dictionary i.e., the dictionary whose values are to be matched to the variables as keys.

In [ ]:
d = {'a':5,'b':6, 'c': 11}
'Sum of {a} and {b} is: {c}'.format_map(d)

'Sum of 5 and 6 is: 11'

20) **isalnum():** It takes no parameters. It returns True if a string contains both and only alphabets and numbers, no spaces or special characters.

In [ ]:
print('Hello12'.isalnum())
print('Hello 12'.isalnum())

True
False

21) **isalpha():** It takes no parameters. It returns True if a string contains only alphabets(no spaces or special characters).

In [ ]:
'Hamid'.isalpha()

True

22) **isnumeric()**: It takes no parameters. It returns True if a string contains only numbers(no floating point numbers).

In [ ]:
print('123'.isnumeric())
print('12.3'.isnumeric())

True
False

23) **isdigit():** It takes no paramters. It returns True if a string contains only numbers(no floating point numbers).

In [ ]:
'12'.isdigit()

True

24) **isdecimal():** It takes no paramters. It returns True if a string contains only numbers(no floating point numbers)

In [ ]:
'12.3'.isdecimal()

False

25) **isidentifier():** It takes no parameters. It return True if a string can be used as a variable, i.e., the string follows the rules for naming variables.

In [3]:
print('var1'.isidentifier())
'$fa'.isidentifier()

True

False

26) **islower():** It takes no paramters. It returns True if a string is in lower case latters.

In [5]:
'hamid 12'.islower()

True

27) **isupper():**  It takes no parameters. It returns True if each alphabet of string is in upper case letters.

In [6]:
'HAMID 12'.isupper()

True

28) **isspace():** It takes no paramters. It returns True if the string contains only spaces.

In [7]:
print('Hamid  Ayub'.isspace())
'   '.isspace()

False

True

29) **istitle():** It takes no paramters. It returns True if each first letter of word is in upper case e.g., Hamid Ayub.

In [8]:
print('Hamid Ayub is a Student'.istitle())
'Hamid Ayub Is A Student'.istitle()

False

True

30) **isprintable:** It takes no paramters. It returns True if each character in the string is printable or string is empty.

In [9]:
print('Hello My marks are: 95'.isprintable())
'Hello\tMy marks are:\t95'.isprintable()

True

False

31) **lower():** It takes no paramters. It returns the string in lower case letters.

In [10]:
'Hello WOrlD'.lower()

'hello world'

32) **upper():** It takes no paramters. It returns the string in upper case letters.

In [11]:
'hello WorLD'.upper()

'HELLO WORLD'

33) **substr.join(string):** It takes 1 paramter, string as iterable. Sub string to be padded with string is used with dot operator with join. It returns the string with substring as a padded character.

In [12]:
'*'.join('HELLO')

'H*E*L*L*O'

34) **replace(substr, new_substr):**It takes 2 arguments, substr(which is to be replaced) and new_substr(which is the replaced substr). It returns the string with replaced sub string.

In [13]:
'Hamid was a boy'.replace('was','is')

'Hamid is a boy'

35) **partition(value):** It takes 1 argument, value(on the basis of which string is to be divided). It divides the string into 3 parts from left:

*   Substring on the left of value
*   Value
*   Substring on the right of value

In [19]:
'Who love Who? I am in love with people'.partition('love')

('Who ', 'love', ' Who? I am in love with people')

36) **rpartition(value):**  It takes 1 argument, value(on the basis of which string is to be divided). It divides the string into 3 parts from right:

*   Substring on the left of value
*   Value
*   Substring on the right of value

In [20]:
'Who love Who? I am in love with people'.rpartition('love')

('Who love Who? I am in ', 'love', ' with people')

37) **maketrans(dict):** It takes 3 argument but I am discussing only 1 which is a dictionary. It returns the translation table with mapping of 1-1.

In [15]:
dict = {'a':'123','b':'23','c':'45'}
'Bachelor'.maketrans(dict)

{97: '123', 98: '23', 99: '45'}

38) **translate(trans_table):** It takes 1 argument, trans_table which contains the mappings of alphabets. It returns the translated string based on the translation table.

In [27]:
dict = {'a':'12','b':'45'}
m = 'Habib'.maketrans(dict)
'Habib'.translate(m)

'H1245i45'

39) **lstrip(char):** It takes 1 argument, char which is to be discarded. If char is not provided then default is space. It returns a string with char characters discarded from the left(if any).

In [16]:
'---Hamid'.lstrip('-')

'Hamid'

40) **strip(char):** It takes 1 argument, char which is to be discarded. If char is not provided then default is space. It returns a string with char characters discarded from the left and right(if any).

In [17]:
'---Hamid-Ayub---'.strip('-')

'Hamid-Ayub'

41) **rstrip(char):** It takes 1 argument, char which is to be discarded. If char is not provided then default is space. It returns a string with char characters discarded from the right(if any).

In [18]:
'Hamid----'.rstrip('-')

'Hamid'

42) **split(value, num):** It takes 2 paramters, value(on the basis of it, string is split) and num(number of splits to be made). It splits the string from left, based on value and returns 2 substr if num is 1.

In [21]:
'Hello Boy'.split('o',1)

['Hell', ' Boy']

43) **rsplit(value, num):** It takes 2 paramters, value(on the basis of it, string is split) and num(number of splits to be made). It splits the string from right, based on value and returns 2 substr if num is 1.

In [22]:
'Hello Boy'.rsplit('o',1)

['Hello B', 'y']

44) **splitlines(bool):** It takes 1 optional argument, which is a boolean value which determines whther to keep linebreak in output or not. It returns list of string splitted on the basis of line break.

In [23]:
'Hello\nWorld'.splitlines(True)

['Hello\n', 'World']