# ***TUPLE***
It is a data structure in python which is immutable.

Here we will discuss the methods applicable on tuple.

Firstly, let's create a tuple. 

**Note:** We cannot create an empty tuple because if we do so then we are unable to add elements to it.

In [6]:
tup = tuple((1, 3, 5, 7, 7, 9))
tup

(1, 3, 5, 7, 7, 9)

One thing to note that tuple takes atmost 1 argument so we supplied all elements in shape of 1 element i.e., covered in the parenthesis.

Now let's call the dir(tuple) to check the methods in tuple.

In [5]:
dir(tup)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

***METHODS OF TUPLE***

1) **tuple.count(element):** It will return the total occurences of the desired element.

In [8]:
tup.count(7)

2

2) **tuple.index(element, start, end):** It will return the index of the first occurence of the element from left in the range(start, end).

In [10]:
tup.index(7, 4, 6)

4

**BASIC OPERATIONS ON TUPLE**

1) **len(tuple):** It will return the length of tuple.

In [11]:
len(tup)

6

2) **max(tuple):** It will return the maximum value in the tuple.

In [12]:
max(tup)

9

3) **min(tuple):**It will return the minimum value in the tuple.

In [13]:
min(tup)

1

4) **tuple(iterable):** It will convert iterable to tuple.

In [15]:
print(tuple('HELLO'))
tuple([1, 2, 3, 4, 5])

('H', 'E', 'L', 'L', 'O')

(1, 2, 3, 4, 5)



**Note:** We cannot directly change the tuple but we can do it indirectly by converting tuple to list and then having amendments in list and then again converting list back to tuple.

In [16]:
tup = ((1, 2, 3, 4, 5))
l = list(tup)
l.append(7)
tup = tuple(l)
tup

(1, 2, 3, 4, 5, 7)